
.contract-form .col-2-2{display:inline-block; float:left; padding: 0 41px;width:50%;}
.contract-form .col-2{display:inline-block; float:left; padding: 0 15px;width:50%;}
.contract-form  .row2{margin:0 -41px;}

.contract-form  a.btn{color:#fff; text-transform:uppercase; font-size:17px; font-weight:500; padding:15px 26px;}
.contract-form  a.btn.grey{background:#bcbcbd;}
.contract-form  a.btn.green{background:#0bb316; float:right;}
.contract-form  a.btn.grey:hover, a.btn.grey:focus{background:#a2a2a6; color:#fff;}
.contract-form  a.btn.green:hover, a.btn.green:focus{background:#0aa314;color:#fff;}

.contract-form select::-ms-expand {
	display: none;
}
.contract-form  .form-control{font-family:'Roboto';color:#636363; font-size:16px; line-height:14px; font-weight:400 !important; height:54px;border:1px solid #e8e8e8; -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0); background:#f9f9f9; padding:6px 16px;}
.contract-form  .form-control:focus{box-shadow:none;}
.contract-form  .form-group{margin-bottom:10px;}
.contract-form  textarea.form-control{padding:16px; height:182px;}
.contract-form  select{color:#6f6f6f; font-size:14px; line-height:14px; font-weight:300; height:43px; appearance:none;-moz-appearance:none; /* Firefox */-webkit-appearance:none; background: #d2d2d4; background-position:right top; background-size:auto 100%;}
.contract-form  select option{padding-top:10px; padding-bottom:10px;}
.contract-form  .form-group-x2{margin: 0 -10px; }
.contract-form  .form-group-x2:after{content:''; clear:both; display:block;}
.contract-form  .form-group-x2 .form-group{width:50%; display:inline-block; float:left; padding:0 10px;}
.contract-form  button{float:right;}
.contract-form  button:hover{cursor:pointer;background:#037ded;}

/*input error*/
.contract-form .form-group{ position:relative;}
.contract-form .form-group input.error, .contract-form .form-group_btns input.error, .contract-form .form-group_half input.error{border:1px solid #cf1e33;}
.contract-form .form-group label.error, .contract-form .form-group_btns label.error, .contract-form .form-group_half label.error{font-size:14px; line-height:14px; color:#fff; margin:0px; font-weight:300; padding:15px 20px; display:inline-block; position:absolute; top:-15px;background:#cf1e33; right:0;  z-index:998; border-radius: 4px; -webkit-border-radius: 4px;    -moz-border-radius:4px;}
.contract-form .form-group label.error:after, .contract-form .form-group_btns label.error:after, .contract-form .form-group_half label.error:after{display:block; content:''; position:absolute; left:15px; top:100%; width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 4.5px 0 4.5px;
	border-color: #cf1e33 transparent transparent transparent;
}

.contract-form ::-webkit-input-placeholder {
	color: #000; font-weight:400;
}

.contract-form :-moz-placeholder { /* Firefox 18- */
	color: #000;  font-weight:400;
}

.contract-form ::-moz-placeholder {  /* Firefox 19+ */
	color: #000;  font-weight:400;
}

.contract-form :-ms-input-placeholder {
	color: #000;  font-weight:400;
}

/************************************************************************ Formularz zlecenia */
.contract-form{margin: 0px 0 0px ; padding:60px 0 ; overflow:hidden;}
.contract-form .header-form{overflow:hidden; border-bottom:1px solid #d2d2d4; margin: 0 0 43px;}
.contract-form .header-form .checkboxes{display:inline-block; float:right; padding:14px 0 0 ;}
.contract-form h5{color:#000000; font-size:36px; font-weigt:400; line-height:normal; display:inline-block; float:left; margin: 0 0 17px;}
.contract-form h3{color:#969595; font-size:24px; font-weight:500; margin: 0 0 33px;}
.contract-form h2{}
.contract-form label{}

.contract-form h4{text-transform:uppercase; color:#666666; font-size:14px; font-weight:500; margin: 0 0 7px;}
.contract-form h4 span{color:#ca0808; font-weight:900;}
.contract-form .form-control, .contract-form .form-control option{height:48px; color:#363637; font-size:16px; font-weight:700; border:1px solid #b7babf;  background:#fff; padding:6px 12px;}
.contract-form .form-control option{border:none; border-bottom:1px solid #d2d2d4;}
.contract-form .form-group{margin: 0 0 21px;}
.contract-form .col-2{padding: 0 10px;}
.contract-form .row{margin: 0 -10px;}
.contract-form .form-control::-webkit-input-placeholder {color: #d2d2d4; font-weight:300;}
.contract-form .form-control:-moz-placeholder { /* Firefox 18- */color: #d2d2d4; font-weight:300; }
.contract-form .form-control::-moz-placeholder {  /* Firefox 19+ */color: #d2d2d4; font-weight:300; }
.contract-form .form-control:-ms-input-placeholder {  color: #d2d2d4; font-weight:300; }
.contract-form  .form-row{overflow:hidden; margin:0 0 50px; position:relative;}
.contract-form  .form-row:after{content:''; display:block; width:1px; height:100%; background:#d2d2d4; position:absolute; top:0; bottom:0; left:0; right:0; margin:auto;}
.contract-form option, .contract-form select{font-weight:700;}
.contract-form .form-group{width:100%;}
.contract-form .form-group h4{width:100%;}
.contract-form .form-group.col-2, .contract-form .form-group.col-2-2{width:50%;}
.contract-form .form-group:after{content:''; display:block; clear:both;}
.contract-form .form-group.margin0{margin: 0 ;}
.contract-form .form-control.w260{width:260px; display:inline-block; float:left; }
.contract-form .form-group p{font-size:16px; font-weight:700; line-height:48px; display:inline-block; float:left; color:#000; padding: 0 0 0 14px;}
.contract-form  select.form-control{background:#f7f7f7; background-position:right center; background-size: auto 100%; cursor:pointer;}
.contract-form  select.form-control:hover{opacity:0.8;}
.contract-form .private-yes{display:none;}
.contract-form.private .private-yes{display:inline-block;}
.contract-form.private .private-no{display:none;}

.radio label::before{width:20px !important; height:20px !important;}
.radio label::after{width:14px !important; height:14px !important;}
.radio label::before, .radio label::after{border-radius: 2px !important; -webkit-border-radius: 2px !important;    -moz-border-radius:2px !important; border:1px solid #787878 !important;}
.radio label::after{background:#fd6604 !important; border:none !important;}
.radio label{font-size:17px; line-height:20px; }
.contract-form .header-form .checkboxes .radio.radio-inline{margin-left:57px;}
.form-bottom{border-top:1px solid #d2d2d4; margin: 50px 0 0 ; padding:30px 0 0 ; overflow:hidden;}
.form-bottom div{display:inline-block; float:right; overflow:hidden;}
.form-bottom .btn{display:inline-block; float:left; font-size:17px; font-weight:500; color:#fff; text-transform:uppercase; background:#1c77e8; border:none; padding:11px 23px;}
.form-bottom .btn:hover{background:#116bdb;}
.form-bottom  p{display:inline-block; float:left; color:#cececf; font-sie:14px; font-weight:700; text-transform:uppercase; padding: 0 18px 0 0 ; line-height:48px;}

.form-bottom.radio-btns .radio{
	width:100%;
}
.form-bottom.radio-btns .checkbox{
	width:100%;
}
.form-bottom.radio-btns .checkbox {
	margin-bottomn:4px;
}
.form-bottom.radio-btns .checkbox label:after{
	background:#fd6604;
	left:3px;
	top:3px;
	height:11px;
	width:11px;
	text-indent:-999em;

	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	border-radius: 1px;
}
.form-bottom.radio-btns .radio label{font-size:13px; line-heigth:16px;}
.form-bottom.radio-btns p.file-load--{
	font-weight:300;
	padding:10px 0 0 0;
	color:#333;
	margin: 0 ;
}
.form-bottom.radio-btns{border:none;
	padding: 0 ;
	margin: 0 ;}
/************************************************************************ Formularz zlecenia podsumowanie */
.summary-content-wrapper{padding: 60px 0;}
.summary-bottom{border-top:1px solid #d2d2d4; padding:30px 0 0 ; overflow:hidden;}
.summary-content{width:100%; overflow:hidden; padding: 0;}
.summary-content div{overflow:hidden;}
.summary-content div.row{margin: 0 0 42px;}
.summary-content p{display:inline-block;width:100%; color:#363637; font-size:18px; line-height:24px; font-weight:400; margin: 0 0 25px;}
.summary-content p strong{color:#000; font-weight:700;}
.summary-content p.left, .summary-content p.right{width:auto; display:inline-block;}
.summary-content p.right{text-align:right; padding-left:15px; float:right;}
.summary-content .row{border-bottom:1px solid #d2d2d4;}
.summary-content .row:last-child{border-bottom: none;}

.contract-form .form-row.no-after:after{
	display:none;
}
.contract-form .form-row.no-after{
	margin: -30px 0 0 ;
}

@media (max-width:1199px){
	/************************************************************************ Formularz zlecenia */
	.contract-form	a.btn{font-size:16px;}
	.contract-form{padding: 40px 0 40px; margin: 0 ;}
	.contract-form h4{font-size:13px;}
	.contract-form .form-control{height:42px;}
	.contract-form .form-group p{line-height:42px;}
	.contract-form h3{font-size:20px; margin: 0 0 20px;}
	.contract-form h5{font-size:30px;}
	.contract-form .header-form .checkboxes .radio.radio-inline{margin-left:20px;}

	/************************************************************************ Formularz zlecenia podsumowanie */
	.summary-content-wrapper{padding: 40px 0 40px;}
	.summary-content p{font-size:17px; margin: 0 0 20px;}
	.summary-content div.row{margin: 0 0 20px}

}

@media (max-width:991px){
	/************************************************************************ Formularz zlecenia */
	.contract-form	a.btn{font-size:15px;}
	.contract-form {padding: 30px 0 30px;}
	.contract-form h5{font-size:24px;}
	.contract-form .header-form .checkboxes{padding:0;}
	.contract-form h3{font-size:18px;}
	.contract-form .form-control, .contract-form .form-control option{font-size:14px; padding:10px;}
	.contract-form .form-control.w260{width:130px;}
	.contract-form .form-group p{font-size:14px;}
	.contract-form .form-row{margin: 0 0 30px;}

	/************************************************************************ Formularz zlecenia podsumowanie */
	.summary-content-wrapper{padding: 30px 0 30px;}
	.summary-content p{font-size:16px; margin: 0 0 15px; line-height:22px;}
	.summary-content div.row{margin: 0 0 35px}
	.form-bottom{margin:25px 0 0 ; }
}

@media (max-width:767px){
	.contract-form .col-2-2{width:100%;}
	.contract-form .col-2{width:100%;}
	.contract-form	a.btn{font-size:13px;}
	/************************************************************************ Formularz zlecenia */
	.contract-form h5{font-size:18px; margin: 0 0 7px; }
	.contract-form .form-control{height:44px; padding: 0 20px;}
	.contract-form .form-group p{line-height:44px;}
	.contract-form h3{font-size:17px; margin: 0 0 15px;}
	.contract-form .header-form{padding-bottom:20px;}
	.contract-form .header-form .checkboxes{width:100%;}
	.contract-form .header-form .checkboxes .radio:first-child{margin: 0 ;}
	.contract-form .form-row::after{display:none;}
	.contract-form .form-row{margin: 0 0 20px;}
	.form-bottom{margin:25px 0 0 ; }
	.form-bottom.radio-btns p.file-load--{font-size:14px;}
	.contract-form .form-group.col-2, .contract-form .form-group.col-2-2{width:100%;}
	.contract-form .form-row.no-after{margin:-15px 0 0 ;}

	/************************************************************************ Formularz zlecenia podsumowanie */
	.summary-content p{font-size:14px; margin: 0 0 9px; line-height:20px;}
	.summary-content div.row{margin: 0 0 30px}
	.summary-content .col-2{width:50%;}
	.summary-content p.right{text-align:left;width:100%;
		padding:0;}

}
@media (max-width:600px){
	.summary-content .col-2{width:100%;}
}
