{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <p>
            Poniższy dokument został opracowany przez firmę:Zakład Wierceń Studziennych Jerzy Wilman, właściciela serwisu internetowego www.zws.com.pl aby zaprezentować nasze stanowisko w sprawie gromadzenia, przetwarzania i wykorzystywania informacji o użytkownikach.
        </p>
        <h2>
            Szanujemy Twoje prawo do prywatności
        </h2>
        <p>
            Zakładając konto użytkownika w serwisie internetowym www.zws.com.pl wyrażasz zgodę na przesyłanie informacji handlowych drogą elektroniczną przez firmę Zakład Wierceń Studziennych Jerzy Wilman (Ustawa z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną, Dz.U. z 2002 r. Nr 144, poz. 1204) i akceptujesz załączoną Politykę Prywatności.
        </p>
        <h2>
            Gromadzenie danych osobowych
        </h2>
        <p>
            W czasie korzystania z serwisu internetowego www.zws.com.pl możesz zostać poproszony o podanie niektórych swoich danych osobowych poprzez wypełnienie formularza, lub w inny sposób. Dane, o które będziesz proszony to w większości przypadków imię, nazwisko i podstawowe dane firmy oraz adres e-mail. W przypadku formularzy zamówień będziesz proszony o podanie pełnych danych osobowych. Niepodanie wymaganych danych zablokuje czynność, którą te dane dotyczyły.
        </p>
        <h2>
            Prawo do weryfikacji, modyfikacji i usunięcia danych osobowych
        </h2>
        <p>
            Zarejestrowanie się w serwisie internetowym www.zws.com.pl jest dobrowolną decyzją użytkownika. Każdemu użytkownikowi, który wypełnił formularz rejestracyjny, zapewniamy prawo do weryfikacji, modyfikacji lub też usunięcia danych.
        </p>
        <h2>
            Zakres udostępniania informacji o użytkowniku
        </h2>
        <p>
            Nie przekazujemy, nie sprzedajemy i nie użyczamy zgromadzonych danych osobowych użytkowników innym osobom lub instytucjom.
        </p>
        <h2>
            Cookies
        </h2>
        <p>
            W celu dostosowania treści i usług do indywidualnych potrzeb i zainteresowań użytkowników, serwis internetowy www.zws.con.pl może używać cookies (informacji zapisywanych przez serwer drukreklamowy.pl na komputerze użytkownika, które serwer może odczytać przy każdorazowym połączeniu się z tego komputera). Cookies dostarczają danych statystycznych o ruchu użytkowników i korzystaniu przez nich z poszczególnych stron serwisu internetowego www.zws.com.pl . Użytkownik może w każdej chwili wyłączyć w swojej przeglądarce opcję przyjmowania cookies, co może jednak spowodować utrudnienia w korzystaniu z usług serwisu internetowego www.zws.com.pl
        </p>
        <ul>
            <li>
                które serwer może odczytać przy każdorazowym połączeniu się z tego komputera).
            </li>
            <li>
                Cookies dostarczają danych statystycznych o ruchu użytkowników i korzystaniu przez nich z poszczególnych stron serwisu internetowego www.zws.com.pl .
            </li>
            <li>
                Użytkownik może w każdej chwili wyłączyć w swojej przeglądarce opcję przyjmowania cookies, co może jednak spowodować utrudnienia w korzystaniu z usług serwisu interne
            </li>
        </ul>
        <h2>
            Niezapowiedziane Wiadomości
        </h2>
        <p>
            Zastrzegamy sobie prawo do wysyłania niezapowiedzianych wiadomości osobom, których dane kontaktowe posiadamy i które zgodziły się z Polityką Prywatności. Pod pojęciem niezapowiedzianych wiadomości firma Zakład Wierceń Studziennych Jerzy Wilman rozumie informacje odnoszące się bezpośrednio do jego serwisów, usług i produktów (np. zmiany dotyczące cen, wewnętrzne promocje), niekomercyjne listy (np. życzenia, komentarze osobiste, itp.).
        </p>
    </div>
{% endblock %}
