{% extends 'base.html.twig' %}

{% block css %}
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <link rel="stylesheet" href="{{ asset('asset/css/vendors.bundle.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/style.bundle.css') }}">

    <style>
        .form_zlecenia {
            width: 24%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login">
            <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
                <div class="m-login__container">
                    {% if error %}
                        <div class="error error-login">Nie znaleziono konta</div>
                    {% endif %}
                    <div class="m-login__head">
                        <h3 class="m-login__title">Zapomniałeś hasła ?</h3>
                        <div class="m-login__desc">Wpisz email na który wyślemy hasło:</div>
                    </div>
                    <form class="m-login__form m-form" method="POST">
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" type="text" placeholder="Email" name="email" id="m_email" autocomplete="off">
                        </div>
                        <div class="m-login__form-action">
                            <button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primaryr" type="submit">Wyślij</button>
                            &nbsp;&nbsp;
                            <a id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom m-login__btn" href="{{ path('login') }}">Anuluj</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}